<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>982520593208-ia9vasn0q4h797j2f99p9ca2vsf7j6dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982520593208-ia9vasn0q4h797j2f99p9ca2vsf7j6dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982520593208-foosgj0l8psbulmjvvtpieuoi0tvcabf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjxmbzsRXX_qbKpeg1sN1bQ68IyWm7vqE</string>
	<key>GCM_SENDER_ID</key>
	<string>982520593208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.badvidliv.mbadvidliv</string>
	<key>PROJECT_ID</key>
	<string>mbadvidliv</string>
	<key>STORAGE_BUCKET</key>
	<string>mbadvidliv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982520593208:ios:82dab2edcc1ba46e</string>
	<key>DATABASE_URL</key>
	<string>https://mbadvidliv.firebaseio.com</string>
</dict>
</plist>